<div class="flex justify-center h-20 mt-16">
  <div class="form">
    <form action="search" class="text-center">
      <input type="text" name="searchStylists" title="search" placeholder="Search by name..." class="px-4 py-2 border border-gray-300 rounded-md">
    </form>
    <div class="flex justify-center">
      <div class="w-full sm:w-3/4">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <div
            *ngFor="let stylist of stylists"
            class="flex bg-gray-200 relative hover:border-teal-600 border border-gray-200">
            <div class="w-1/2">
              <img [src]="stylist.imageUrl" alt="stylists" class="object-cover h-full w-full">
            </div>
            <div class="w-1/2 flex flex-col justify-center p-4">
              <h3 class="text-lg font-semibold">{{ stylist.name }}</h3>
              <p class="text-sm">{{ stylist.address }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    

        
  </div>
</div>
